/* *{
    margin: 0;
    padding: 0;
}
.box{
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid ;
    margin: 2px;
} */
/* #box3{
    position:relative;
    top: 250px;
} */
/* #box1{
    position: sticky;
    top: 0;
}
.container{
    height: 3444px;
} */
/* #box4{
    position: fixed;
    bottom: 300px;
} */
